baseURL: https://username.github.io
languageCode: en-us
defaultContentLanguage: en
title: Username
theme: uswds-hugo-theme
enableRobotsTXT: true
timeout: 45000
enableGitInfo: true

params:
  footer: >
    Made with [Hugo](https://gohugo.io/) &bull;
    Content in [GitHub](https://github.com/nuhuo08/uswds-hugo-theme)
  utter:
    repo: "owner/repo"
    issueTerm: "pathname" #issue name: pathname title urlï¼Œ
    theme: "github-light"

outputs:
  home: [HTML, RSS, JSON]

pygmentsCodefences: true
pygmentsStyle: pygments

taxonomies:
  tag: tags

permalinks:
  blog: /:filename/

imaging:
  quality: 90

menu:
  nav:
    - name: Home
      url: /
      weight: 1
    - name: Blog
      url: /blog/
      weight: 2
    - name: Tags
      url: /tags/
      weight: 3
    - name: About
      url: /about/
      weight: 4

markup:
  defaultMarkdownHandler: goldmark
  goldmark:
    extensions:
      definitionList: true
      footnote: true
      linkify: false
      strikethrough: true
      table: true
      taskList: true
      typographer: true
    parser:
      attribute: true
      autoHeadingID: true
    renderer:
      hardWraps: false
      unsafe: true
      xHTML: false
  highlight:
    codeFences: true
    hl_Lines: ""
    lineNoStart: 1
    lineNos: false
    lineNumbersInTable: true
    noClasses: true
    style: monokai
    tabWidth: 4
  tableOfContents:
    endLevel: 6
    startLevel: 2
